.div1{
		height: 50vh;
		width:100vw;
			background: -webkit-linear-gradient(top, black , darkblue);
			background-repeat: no-repeat;
			-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: toptransition 9s ease-in infinite;

	}
	
	.div2{
		height: 50vh;
		width: 100vw;
		background: -webkit-linear-gradient(top, black , darkblue);
		background-repeat: no-repeat; 
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: bottomtransition 9s ease-in infinite;

    }

         @-webkit-keyframes toptransition {

        0% {
            background: -webkit-linear-gradient(90deg, darkorange, darkorange 10%, #003366, #011c38, black);
        }
        15% {
            background: -webkit-linear-gradient(90deg, darkorange, darkorange 20%, #003366, #011c38, black);
        }
        25% {
            background: -webkit-linear-gradient(90deg, orange, darkorange 30%, #003366,#011c38, black);
        }
        35% {
            background: -webkit-linear-gradient(90deg, orange, darkorange 35%, #003366, #011c38,black);
        }
        45%{
            background: -webkit-linear-gradient(90deg, #FF7F50, orange, darkorange 35%, #003366);
        }
        50% {
            background: -webkit-linear-gradient(90deg, #FF7F50, orange 10%, darkorange 40%, #6495ED);
        }
        60%{
            background: -webkit-linear-gradient(90deg, #FF7F50, orange 20%, darkorange, #6495ED);
        }
        65%{
            background: -webkit-linear-gradient(90deg, #FF7F50, orange 30%, darkorange, #6495ED);
        }
        75% {
            background: -webkit-linear-gradient(90deg, #FF7F50, orange 40%, darkorange, #6495ED);
        }
        100% {
            background: -webkit-linear-gradient(90deg, darkorange, darkorange 10%, #003366, #011c38, black);

        }
    
    }
    
        @-webkit-keyframes bottomtransition {

        0% {
            background: -webkit-linear-gradient(90deg, #246024,#003366, #003366, darkorange, darkorange); /*bottom*/
        }
        15% {
            background: -webkit-linear-gradient(90deg, #246024, #003366,#1D2951, darkorange, darkorange);
        }
        25% {
            background: -webkit-linear-gradient(90deg, #003366, #1D2951, darkorange, orange, orange);
        }
        35% {
            background: -webkit-linear-gradient(90deg, #1D2951, #45827A, darkorange, orange, orange);
        }
        45%{
            background: -webkit-linear-gradient(90deg, #45827A, #45827A,darkorange, orange,#FF7F50);
        }
        50% {
            background: -webkit-linear-gradient(90deg, #45827A,#40a4df, darkorange, orange, #FF7F50);
        }
        60%{
            background: -webkit-linear-gradient(90deg, #45827A,#40a4df, darkorange, #FF7F50);
        }
        65%{
            background: -webkit-linear-gradient(90deg, #45827A,#40a4df, darkorange, #FF7F50);
        }
        75% {
            background: -webkit-linear-gradient(90deg, #45827A,#40a4df, darkorange, #FF7F50);
        }

        100% {
            background: -webkit-linear-gradient(90deg, #246024,#003366, #003366, darkorange, darkorange);
    }
}

}  