.div1{
		height: 30vw;
		width:100vw;
			background: -webkit-linear-gradient(top, black , darkblue);
			background-repeat: no-repeat;
			-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: kaleidoscope 4s ease-in infinite;
        transition-duration: 10s;
			
	}
		.div1b {
		height: 20vw;
		width: 100vw;
		background: -webkit-linear-gradient(top, black , darkblue);
		background-repeat: no-repeat; 
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: kaleidoscopeb 4s ease-in infinite;

	}
	
	.div2{
		height: 20vw;
		width: 100vw;
		background: -webkit-linear-gradient(top, black , darkblue);
		background-repeat: no-repeat; 
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: kaleidoscopee 4s ease-in infinite;
	}
	.div2b {
		height: 20vw;
		width: 100vw;
		background: -webkit-linear-gradient(top, black , darkblue);
		background-repeat: no-repeat; 
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: kaleidoscopeeb 4s ease-in infinite;

	}
	/*.div3{
		height: 10vw;
			width:100vw;
			background: -webkit-linear-gradient(top, mediumblue 20% , orange);
			-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: kaleidoscope 4s ease infinite;
	}
	.div4{
		height: 10vw;
			width:100vw;
			background: -webkit-linear-gradient(top, black , darkblue);
			background-repeat: no-repeat;
			-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: kaleidoscope 4s ease infinite;
	}
		
	}
	.div5{
		height: 10vw;
			width:100vw;
			background: -webkit-linear-gradient(top, darkblue 28% , darkgreen);
			background-repeat: no-repeat;
			-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: kaleidoscope 4s ease infinite;
*/
		 @-webkit-keyframes kaleidoscope {

        0%, 100% {
            background: -webkit-linear-gradient(90deg, darkorange, darkorange 10%, #003366, #003366);
        }
        25% {
            background: -webkit-linear-gradient(90deg, orange, darkorange 20%, #003366, black);
        }
        50% {
            background: -webkit-linear-gradient(90deg, darkorange, orange 30%, #003366, black);
        }
        75% {
            background: -webkit-linear-gradient(90deg, darkorange, orange 40%, #003366, black);
        }
    }
       



        @-webkit-keyframes kaleidoscopee {

        0%, 100% {
            background: -webkit-linear-gradient(90deg, #0066cc, orange, darkorange, darkorange);
        }
        25% {
            background: -webkit-linear-gradient(90deg, #0066cc, orange, darkorange);
        }
        50% {
            background: -webkit-linear-gradient(90deg, #0066cc, orange, darkorange);
        }
        75% {
            background: -webkit-linear-gradient(90deg, #0066cc 5%, orange, darkorange);
        }
    }
/*	 @-webkit-keyframes kaleidoscopeb {

        0%, 100% {
            background: -webkit-linear-gradient(90deg, pink, pink 10%, green, green);
        }
        25% {
            background: -webkit-linear-gradient(90deg, yellow, pink 20%, green, red);
        }
        50% {
            background: -webkit-linear-gradient(90deg, pink, blue 30%, green, red);
        }
        75% {
            background: -webkit-linear-gradient(90deg, pink, blue 40%, green, red);
        }
    }
    

      @-webkit-keyframes kaleidoscopeeb {

        0%, 100% {
            background: -webkit-linear-gradient(90deg, blue, yellow, pink, pink);
        }
        25% {
            background: -webkit-linear-gradient(90deg, blue, yellow, pink);
        }
        50% {
            background: -webkit-linear-gradient(90deg, blue, yellow, pink);
        }
        75% {
            background: -webkit-linear-gradient(90deg, blue 5%, yellow, pink);
        }
    }*/

	/*	@-webkit-keyframes Gradient {
		0%{background-position:50% 100%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes Gradient { 
		0%{background-position:50% 100%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

			/*-webkit-animation: mymove 5s infinite;  Safari 4.0 - 8.0 
    
    		/*animation: mymove 5s infinite;*/*/
/*	}
	@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}*/


/*#DemoGradient{  
    background: -webkit-linear-gradient(black,darkblue);  
    background: -moz-linear-gradient(darkblue,mediumblue);  
    background: -o-linear-gradient(mediumblue,orange);  
    background: linear-gradient(#C7D3DC,#5B798E);  
  
    -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  
  
    background-size:1px 200px;  
    border-radius: 10px;  
    border: 1px solid #839DB0;  
    cursor:pointer;  
    width: 150px;  
    height: 100px;  
}  
#DemoGradient:Hover{  */
/*    background-position:100px;  */
}  