h1 {
	font-family:"Sansita", sans-serif;
	color: pink;
	font-size: 50px;
	text-align: center;
}
body {
	font-family: 'Raleway', sans-serif;
	background-color: black;
	color: hotpink;
	width: 700px;
}
h2 {
	
}
h3 {
	
}
p {
	
}
blockquote {
	

}
strong {
	text-align: center;
	
}
ol {
	f
}