@font-face {
  font-family: 'Playfair Display';
  src: url('PlayfairDisplaySC-Regular.oft');
}
html {
	margin-left: 10%;
	margin-right: 80px;
}
h1 {
	font-family: Playfair Display;
	font-size: 80px;
	color: aqua;

}
h2 {
	font-size: 50px;
    font-family: Playfair Display;
     color: aqua;

}

body {
	font-family: times;
	font-size: 17px;
	color: pink;
	background-color: black;

}
 p {
 	padding-bottom: 25px;
    padding-right: 15%;

 }
 img {
 	padding: 10px; 
 }
 .contact {
 	font-size: 20px;
 	padding: 10px;
 	color: yellow;
    font-family: Playfair Display;
}




 @media screen and (max-width: 650px) {
    h1 {
        font-size: 50px;
    }
    body {
    	font-size: 20px;
    }
    h2 {
    	text-decoration: none;
    }
    html {
    	margin-right: 10%;

    }
    p {
        padding-right: 2%;
    }
    .contact {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    img {
        margin-right:10px;
    }
}
 