@font-face {
  font-family: 'Akademie Alte';
  src: url('Akademie Alte.ttf'); /* IE9 Compat Modes */
}

body {
	font-family: 'Akademie Alte';
}


h1 {
	font-size: 64px;
	text-align: center;
}

h2 {
	font-size: 30px;
	padding-left: 900px;
	padding-top: 100px;
	color: rgb(138, 7, 7);
}
h3 {
	text-align: left;
	font-size: 150px;
	margin: 10px;
	padding-top: 1px;
}

h4 {
	text-align: center;
	font-size: 30px;
	color: rgb(187, 10, 30);
	margin: 100px;
}

h5 {
	font-size:65px;
	padding: 100px;
	

}
p {
	font-size: 65px;
	text-align: left;
	padding-left: 100px;
	margin-bottom: 1px;
}
a {
	color: rgb(187, 10, 30);
	text-decoration: none;
}

blockquote {
	text-align: left;
	font-size: 	20px;
	padding-left: 65px;
	padding-top: 15px;

}

.purple { 
	color: rgb(187, 10, 30); 
}
.my-header h5 { 
  display: inline;
}
.my-header span { 
  float: right;
  padding-right: 70px;
}
.lw {
	font-size: 40px;
	margin-top: 30px;
	margin-right: 500px;

}
#textbox {
	width:520px;
	height:550px;
	line-height:3em;
	overflow:scroll;
	overflow-y:scroll;
	overflow-x:hidden;
	padding:1px; 
	margin-right: 100px; 
	margin-top: -600px;
	padding-left: 50%;
}
	
 