@font-face {
  font-family: 'Akademie Alte';
  src: url('Akademie Alte.ttf'); /* IE9 Compat Modes */
}

body {
	font-family: 'Akademie Alte';
}


h1 {
	font-size: 64px;
	text-align: center;
}

h2 {
	font-size: 30px;
	text-indent: 350px;
	padding: 10px;
	margin-top:1px;
	color: rgb(138, 7, 7);
}
h3 {
	text-align: left;
	font-size: 150px;
	margin: 10px;
	padding-top: 10px;
}

h4 {
	text-align: center;
	font-size: 30px;
	color: rgb(187, 10, 30);
	margin: 100px;
}

h5 {
	font-size:65px;
	padding: 100px;
	

}
p {
	font-size: 48px;
	text-align: left;
	padding-left: 100px;
}
a {
	color: rgb(187, 10, 30);
	text-decoration: none;
}

blockquote {
	text-align: right;
	font-size: 40px;
	padding-right: 420px;
	padding-top: 2px;

}

.purple { 
	color: rgb(187, 10, 30); 
}
.my-header h5 { 
  display: inline;
}
.my-header span { 
  float: right;
  padding-right: 70px;
}
.lw {
	font-size: 45px;
	margin-top: 30px;
	margin-right: 500px;

}
	
 